html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
label {
    display: inline-block;
    float: left;
}

.modal-title {
    margin: auto;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 500px;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.modal-content {
    text-align: center;
    border: none !important;
}

.modal-header {
    background-color: white;
    padding: 10px;
    border: none !important;
}

.modal-footer {
    background-color: white;
    padding: 10px;
    text-align: right;
    border: none !important;
}

.form-product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}


table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

    table th,
    table td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

.table-row {
    transition: background-color 0.2s;
    cursor: pointer;
}

    .table-row:nth-child(even) {
        background-color: rgb(204, 212, 240);
    }





.character-list-container {
    background-color: rgb(255, 255, 255);
    max-height: 400px;
    overflow-y: auto;
    margin-top: 30px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
}



.elegant-title {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 26px;
    font-weight: 400;
    color: #333;
    text-align: center;
    margin-top: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 130px;
}